In [3]:
import pandas as pd
import time
import os
path = 'twitter/'
all_files = os.listdir(path)
count_files = len(os.listdir(path))
print count_files
print type(all_files)
print all_files[0]
print all_files[:3]

23465
<type 'list'>
2015-10-07 22%3A16%3A58.283000tweets.json
['2015-10-07 22%3A16%3A58.283000tweets.json', '2015-10-08 00%3A05%3A39.021359tweets.json', '2015-10-08 00%3A10%3A48.733204tweets.json']

In [4]:
i=0
limit = 561
df = pd.DataFrame()
for filename in all_files:
    i=i+1
    if i <= limit:
        ##print filename
        new_path = "twitter"+"/" + str(filename)
        df0 = pd.read_json(new_path)
        df1 = df0.T
        df = df.append(df1)
print df.shape

(34346, 9)

In [ ]:
### df = pd.read_json('twitter/2015-10-07 22%3A16%3A58.283000tweets.json')
# all_tweets is a dataframe

In [5]:
df.head(3)

,content,data_point,lat,lon,raw_source,time,tweet_id,user,user_location
1990-08-29 04:29:43.851974656,Ø§Ø§Ù„ÙˆÙˆÙˆ,none,46.7412,24.6219,"{u'contributors': None, u'truncated': False, u...",Wed Oct 07 23:37:23 +0000 2015,651904183851974656,3086790402,
1990-08-29 04:33:07.883888640,@i_Mjeed Ø®ÙŠØ± Ø§Ù† Ø´Ø§Ø¡ Ø§Ù„Ù„Ù‡ Ù…Ø§Ø¨Ù‚Ù‰ Ø´ÙŠ ğŸ˜‚,none,46.6996,24.5557,"{u'contributors': None, u'truncated': False, u...",Wed Oct 07 23:38:12 +0000 2015,651904387883888640,358398827,Ø§Ù„Ø³Ø¹ÙˆØ¯ÙŠØ©
1990-08-29 04:37:19.504384000,"""@bafadel78: ØªÙ…Ø± Ø§Ù„Ø­ÙŠØ§Ø© Ø¨ÙŠÙ† Ø­Ù„Ù… ÙˆØ£Ù…Ù†ÙŠØ© ÙˆÙ„Ø§ÙŠØ­Ø¯Ø«...",none,46.6361,24.6053,"{u'contributors': None, u'truncated': False, u...",Wed Oct 07 23:39:12 +0000 2015,651904639504384000,2963814349,

In [6]:
print len(df)
print type(df)
print df.dtypes.head(3)
print df.columns

34346
<class 'pandas.core.frame.DataFrame'>
content       object
data_point    object
lat           object
dtype: object
Index([u'content', u'data_point', u'lat', u'lon', u'raw_source', u'time',
       u'tweet_id', u'user', u'user_location'],
      dtype='object')

In [7]:
# reverse the columns and rows
all_tweets = df
print all_tweets.shape

(34346, 9)

In [8]:
# Add and drop columns, reset index
all_tweets['category'] = ""
## all_tweets['user_from']= ""
all_tweets.reset_index(drop=True, inplace=True)
all_tweets.drop(['data_point','raw_source','tweet_id', 'user','user_location'],axis=1, inplace=True)

In [9]:
all_tweets.head(3)

,content,lat,lon,time,category
0,Ø§Ø§Ù„ÙˆÙˆÙˆ,46.7412,24.6219,Wed Oct 07 23:37:23 +0000 2015,
1,@i_Mjeed Ø®ÙŠØ± Ø§Ù† Ø´Ø§Ø¡ Ø§Ù„Ù„Ù‡ Ù…Ø§Ø¨Ù‚Ù‰ Ø´ÙŠ ğŸ˜‚,46.6996,24.5557,Wed Oct 07 23:38:12 +0000 2015,
2,"""@bafadel78: ØªÙ…Ø± Ø§Ù„Ø­ÙŠØ§Ø© Ø¨ÙŠÙ† Ø­Ù„Ù… ÙˆØ£Ù…Ù†ÙŠØ© ÙˆÙ„Ø§ÙŠØ­Ø¯Ø«...",46.6361,24.6053,Wed Oct 07 23:39:12 +0000 2015,

In [10]:
prayer_dict = {'pray':'ØµÙ„Ù‰','prayer':'ØµÙ„Ø§Ø©','praying':'ØµÙ„Ø§Ø©','muslim':'Ù…Ø³Ù„Ù…','Islam':'Ø§Ù„Ø¥Ø³Ù„Ø§Ù…',
               'mosque':'Ø¬Ø§Ù…Ø¹','mosques':'Ø¬ÙˆØ§Ù…Ø¹','masjid':'Ù…Ø³Ø§Ø¬Ø¯','masjids':'Ù…Ø³Ø¬Ø¯',
               'call to prayer':'Ø§Ø°Ø§Ù†','muezzin':'Ù…Ø¤Ø°Ù†','holy':'Ù…Ù‚Ø¯Ø³',
              'imam':'Ø£Ø¦Ù…Ø©','imams':'Ø§Ù…Ø§Ù…','koran':'Ø§Ù„Ù‚Ø±Ø¢Ù†','chapter':'Ø³ÙˆØ±','verse':'Ø¢ÙŠØ§Øª'}
food_dict = {'food':'Ø·Ø¹Ø§Ù…','eating':'ÙŠØªÙ†Ø§ÙˆÙ„ Ø§Ù„Ø·Ø¹Ø§Ù…','falafel':'ÙÙ„Ø§ÙÙ„','shawarma':'Ø§Ù„Ø´Ø§ÙˆØ±Ù…Ø§',
            'starbucks':'Ø³ØªØ§Ø±Ø¨ÙƒØ³','mcdonalds':'Ù…Ø§ÙƒØ¯ÙˆÙ†Ø§Ù„Ø¯Ø²'}
fun_dict = {'restaurant':'Ù…Ø·Ø§Ø¹Ù…','restaurants':'Ù…Ø·Ø¹Ù…','park':'Ø­Ø¯Ø§Ø¦Ù‚','theater':'Ø³ÙŠÙ†Ù…Ø§Øª','museum':'Ù…ØªØ§Ø­Ù',
           'bakery':'Ù…Ø®Ø§Ø¨Ø²','gallery':'Ù…Ø¹Ø±Ø¶','fair':'Ù…Ù‡Ø±Ø¬Ø§Ù†Ø§Øª','zoo':'Ø­Ø¯ÙŠÙ‚Ø© Ø§Ù„Ø­ÙŠÙˆØ§Ù†','hotel':'ÙÙ†Ø§Ø¯Ù‚',
           'starbucks':'Ø³ØªØ§Ø±Ø¨ÙƒØ³','mcdonalds':'Ù…Ø§ÙƒØ¯ÙˆÙ†Ø§Ù„Ø¯Ø²'}
parking_dict = {'stop':'ÙŠÙˆÙ‚Ù','park':'ÙˆÙ‚Ù','parking lot':'Ù…ÙˆÙ‚Ù','parking':'Ù…ÙˆØ§Ù‚Ù','standing':'Ø§Ù„Ù…ÙˆØ§Ù‚Ù',
               'street parking':'ÙŠØ±ÙƒÙ†','garage':'ÙŠØ¬Ø±Ù‘Ø´'}
traffic_dict = {'traffic':'Ù…Ø±ÙˆØ±','underground':'Ø³Ø±Ø§','crowd':'Ø²Ø­Ù…Ø©','crowds':'Ø²Ø­Ø§Ù…','jammed':'Ø§Ø®ØªÙ†Ø§Ù‚',
                'erupted':'Ù†Ø´Ø¨Øª','reroute':'ØªØ­ÙˆÙŠÙ„Ø©','bump':'Ù…Ø·Ø¨','pothole':'Ù…Ø·Ø¨Ø§Øª'}
accident_dict = {'accident':'Ø­Ø§Ø¯Ø«','accidents':'Ø­ÙˆØ§Ø¯Ø«','crashes':'Ø­Ø§Ø¯Ø«Ø©','collision':'ØµØ¯Ù…','hit by':'ØµØ¯Ù…Ù†ÙŠ',
                 'detour':'Ø§Ù†Ø¹ÙØ·Øª',
                'wreck':'Ø®Ø±Ø¨Øª','wreckage':'Ø­Ø·Ø§Ù…'}
transit_dict = {'bus':'Ø¨Ø§Øµ','taxi':'ØªØ§ÙƒØ³ÙŠ','taxis':'ØªØ§ÙƒØ³ÙŠØ§Øª','cab':'ØªÙƒØ³ÙŠ','limo':'Ù„ÙŠÙ…ÙˆØ²ÙŠÙ†','fare':'Ø£Ø¬Ø±Ø©',
                'cab fee':'Ø§Ø¬Ø±Ø©','Careem':'ÙƒØ±ÙŠÙ…','Uber':'Ø§ÙˆØ¨Ø±','driver':'Ø³ÙˆØ§Ù‚','chauffeur':'Ø³Ø§Ø¦Ù‚','airport':'Ù…Ø·Ø§Ø±Ø§Øª',
                'public transit':'Ù…ÙˆØ§ØµÙ„Ø§Øª'}

In [11]:
# Search for Arabic terms using unicode
# It works on English too

def count_search_terms(arabic_word):
    j=0
    search_term = unicode(arabic_word, encoding="utf-8")
    for row in all_tweets.itertuples():
        if search_term.lower() in row[1].lower():
            j+=1
    return j

In [12]:
# Now count multiple terms at once
# The function counts both Arabic and English versions

def count_category(search_dict):
    i=0
    for key in search_dict:
        count = count_search_terms(search_dict[key])
        count = count + count_search_terms(key)
        i+=count
        print key + ": " + str(count)
    print "category total: " + str(i)

In [13]:
count_category(traffic_dict)

bump: 0
traffic: 27
erupted: 0
crowd: 11
reroute: 0
underground: 146
jammed: 0
crowds: 24
pothole: 0
category total: 208

In [14]:
count_category(parking_dict)

standing: 15
stop: 0
street parking: 0
park: 186
parking lot: 33
garage: 0
parking: 16
category total: 250

In [15]:
count_category(accident_dict)

collision: 17
accident: 0
crashes: 0
wreck: 0
hit by: 0
accidents: 0
detour: 0
wreckage: 0
category total: 17

In [16]:
count_category(transit_dict)

taxi: 0
fare: 7
public transit: 0
bus: 209
driver: 88
limo: 33
Careem: 186
Uber: 0
cab fee: 0
airport: 5
chauffeur: 4
cab: 8
taxis: 0
category total: 540

In [17]:
count_category(prayer_dict)

imam: 0
chapter: 240
masjids: 29
holy: 8
pray: 179
mosques: 0
muslim: 153
mosque: 368
koran: 72
verse: 13
masjid: 12
prayer: 312
muezzin: 0
imams: 11
praying: 312
call to prayer: 34
Islam: 82
category total: 1825

In [18]:
count_category(fun_dict)

fair: 81
hotel: 335
park: 73
starbucks: 994
mcdonalds: 83
gallery: 54
theater: 0
restaurant: 162
museum: 42
zoo: 0
bakery: 23
restaurants: 88
category total: 1935

In [19]:
# function decides if category is present
def has_category(tweet_content, search_dict):
    answer = False
#     tweet_content = unicode(tweet_content, encoding="utf-8")
    for english_word in search_dict.keys():
        if english_word.lower() in tweet_content.lower():
            answer = True
    for arabic_word in search_dict.values():
        arabic_word = unicode(arabic_word, encoding="utf-8")
        if arabic_word in tweet_content:
            answer = True
    return answer

In [20]:
# function checks every row and adds categories
def fill_in_categories():
    for tweet in all_tweets.itertuples():
        idx = tweet[0]
        content = all_tweets.loc[idx,'content']
        if has_category(content, traffic_dict):
            all_tweets.loc[idx, 'category'] = 'traffic'
        elif has_category(content, transit_dict):
            all_tweets.loc[idx, 'category'] = 'transit'
        elif has_category(content, accident_dict):
            all_tweets.loc[idx, 'category'] = 'accident'
        elif has_category(content, parking_dict):
            all_tweets.loc[idx, 'category'] = 'parking'
        elif has_category(content, prayer_dict):
            all_tweets.loc[idx, 'category'] = 'prayer'
        elif has_category(content, fun_dict):
            all_tweets.loc[idx, 'category'] = 'fun'
        else:
            all_tweets.loc[idx, 'category'] = 'none'

In [21]:
fill_in_categories()

In [22]:
all_tweets.head()

,content,lat,lon,time,category
0,Ø§Ø§Ù„ÙˆÙˆÙˆ,46.7412,24.6219,Wed Oct 07 23:37:23 +0000 2015,none
1,@i_Mjeed Ø®ÙŠØ± Ø§Ù† Ø´Ø§Ø¡ Ø§Ù„Ù„Ù‡ Ù…Ø§Ø¨Ù‚Ù‰ Ø´ÙŠ ğŸ˜‚,46.6996,24.5557,Wed Oct 07 23:38:12 +0000 2015,none
2,"""@bafadel78: ØªÙ…Ø± Ø§Ù„Ø­ÙŠØ§Ø© Ø¨ÙŠÙ† Ø­Ù„Ù… ÙˆØ£Ù…Ù†ÙŠØ© ÙˆÙ„Ø§ÙŠØ­Ø¯Ø«...",46.6361,24.6053,Wed Oct 07 23:39:12 +0000 2015,transit
3,Ø§Ù„Ù„Ù‡Ù… Ø§ÙØªØ­ Ù„Ù†Ø§ Ø£Ø¨ÙˆØ§Ø¨ Ø§Ù„Ø³Ø¹Ø§Ø¯Ø© ÙˆØ§Ù„Ø±Ø¶Ø§.\nÙˆØ§Ø¬Ø¹Ù„ Ù…Ø§...,46.6361,24.6053,Wed Oct 07 23:39:37 +0000 2015,none
4,'Ù‚Ø¯Ø±ÙˆØ§' Ø§Ù„Ø¢Ù† Ù†Ø´Ø· ÙÙŠ Saudi Arabia http://t.co/y...,46.7224,24.688,Wed Oct 07 23:40:17 +0000 2015,none

In [196]:
def time_converter(input_string):
    ##orig_date = input_string[:-10] + input_string[-4:]
    ##convert = time.strptime(orig_date, '%a %b %d %H:%M:%S %Y')
    ##new_time = time.strftime("%A %I %p",convert)
    new_date = str(input_string[4:10])
    new_hour = str(input_string[11:13])
    return new_date, new_hour

In [197]:
print time_converter('Tue Oct 13 17:08:31 +0000 2015')
print time_converter(all_tweets.loc[16,'time'])

('Oct 13', '17')
('Oct 07', '23')

In [200]:
for row in all_tweets.itertuples():
    idx = int(row[0])
    new_time = time_converter(all_tweets.loc[idx,'time'])
    all_tweets.loc[idx,'Date'] = str(new_time[0])
    all_tweets.loc[idx,'Hour'] = float(new_time[1])

In [261]:
all_tweets.head(5)

,content,lat,lon,time,category,Time,Date,Hour,Month
0,Ø§Ø§Ù„ÙˆÙˆÙˆ,46.7412,24.6219,Wed Oct 07 23:37:23,none,23:37:23,Oct 07,23,Oct
1,@i_Mjeed Ø®ÙŠØ± Ø§Ù† Ø´Ø§Ø¡ Ø§Ù„Ù„Ù‡ Ù…Ø§Ø¨Ù‚Ù‰ Ø´ÙŠ ğŸ˜‚,46.6996,24.5557,Wed Oct 07 23:38:12,none,23:38:12,Oct 07,23,Oct
2,"""@bafadel78: ØªÙ…Ø± Ø§Ù„Ø­ÙŠØ§Ø© Ø¨ÙŠÙ† Ø­Ù„Ù… ÙˆØ£Ù…Ù†ÙŠØ© ÙˆÙ„Ø§ÙŠØ­Ø¯Ø«...",46.6361,24.6053,Wed Oct 07 23:39:12,transit,23:39:12,Oct 07,23,Oct
3,Ø§Ù„Ù„Ù‡Ù… Ø§ÙØªØ­ Ù„Ù†Ø§ Ø£Ø¨ÙˆØ§Ø¨ Ø§Ù„Ø³Ø¹Ø§Ø¯Ø© ÙˆØ§Ù„Ø±Ø¶Ø§.\nÙˆØ§Ø¬Ø¹Ù„ Ù…Ø§...,46.6361,24.6053,Wed Oct 07 23:39:37,none,23:39:37,Oct 07,23,Oct
4,'Ù‚Ø¯Ø±ÙˆØ§' Ø§Ù„Ø¢Ù† Ù†Ø´Ø· ÙÙŠ Saudi Arabia http://t.co/y...,46.7224,24.688,Wed Oct 07 23:40:17,none,23:40:17,Oct 07,23,Oct

In [203]:
all_tweets.to_csv('all_tweets.csv', index=False, encoding='utf-8')

In [205]:
import pandas as pd
import numpy as np
np.sum(df['category'] == "transit")

540

In [231]:
df = all_tweets
# Group the edges by their source
grouped_sources = df['Hour'].groupby(df['Date'])
## count and combine
edges_per_node = grouped_sources.count()
print edges_per_node

from collections import Counter
Counter(df['Date'])

Date
Oct 07       20
Oct 08    19729
Oct 09    13113
Oct 10     1484
dtype: int64

Counter({'Oct 07': 20, 'Oct 08': 19729, 'Oct 09': 13113, 'Oct 10': 1484})

In [262]:
df_new = pd.DataFrame()
j=0
for i in dict.keys(Counter(df['Date'])):
    for j in range(0,24):
        ##print i + ", " + "Hour: " +str(j)
        count= np.sum((df['Date']==i) & (df['Hour']== j))
        ##print count
        df_new.loc[j,i] = float(count)
df_new.head(5)

   Oct 07  Oct 08  Oct 09  Oct 10
0       0      20     576     407
1       0      21     720     312
2       0       6     632     685
3       0     506     983      80
4       0     765     734       0

In [263]:
df_new.to_csv('df_new.csv', index=False, encoding='utf-8')

In [ ]:
## End

In [99]:
all_tweets_categorized = all_tweets[all_tweets['category']!= 'none']
print len(all_tweets_categorized)

3503

In [104]:
all_tweets_categorized.reset_index(inplace=True, drop=True)
all_tweets_categorized.head()

,content,lat,lon,time,category,Time,Date,Hour
0,"""@bafadel78: ØªÙ…Ø± Ø§Ù„Ø­ÙŠØ§Ø© Ø¨ÙŠÙ† Ø­Ù„Ù… ÙˆØ£Ù…Ù†ÙŠØ© ÙˆÙ„Ø§ÙŠØ­Ø¯Ø«...",46.6361,24.6053,Wed Oct 07 23:39:12,transit,23:39:12,Oct 07,23:39:12
1,Ù„Ø§ ØªÙØ¶Ø­ Ù…Ø³Ù„Ù…Ø§Ù‹ ÙˆÙ‚Ø¹ ÙÙŠ Ù…Ø¹ØµÙŠÙ‡ ! ÙØ¥Ù† Ø¨Ø§Ø¨ Ø§Ù„ØªÙˆØ¨Ù‡ Ù…...,46.532,24.6356,Thu Oct 08 01:25:01,prayer,01:25:01,Oct 08,01:25:01
2,Ø§Ù„Ù„Ù‡Ù… Ø³Ø± Ø®Ø§Ø·Ø±ÙŠ Ø¨ÙƒÙ„ Ø¬Ù…ÙŠÙ„\nØ§Ù†Ùƒ Ø¹Ù„Ù‰ ÙƒÙ„ Ø´Ø¦ Ù‚Ø¯ÙŠØ± .....,46.5834,24.5621,Thu Oct 08 01:43:17,prayer,01:43:17,Oct 08,01:43:17
3,ØµÙ„Ø§Ø© Ø§Ù„ÙØ¬Ø± Ø¬Ø²Ø§ÙƒÙ… Ø§Ù„Ù„Ù‡ Ø®ÙŠØ±,46.7491,24.6165,Thu Oct 08 01:50:47,prayer,01:50:47,Oct 08,01:50:47
4,Ø§Ù„Ù„Ù‡Ù… ØµÙ„Ù‰ ÙˆØ³Ù„Ù… Ø¹Ù„Ù‰ Ø³ÙŠØ¯Ù†Ø§ Ù…Ø­Ù…Ø¯,46.6664,24.6741,Thu Oct 08 02:09:17,prayer,02:09:17,Oct 08,02:09:17

In [102]:
all_tweets_categorized.to_csv('all_tweets_categorized.csv', index=False, encoding='utf-8')