In [1]:
import pandas as pd
import time

In [2]:
all_tweets = pd.read_json('full_dataset.json')

ValueError: Unexpected character found when decoding 'false'

In [3]:
print len(all_tweets)

125390

In [4]:
# Add and drop columns, reset index
all_tweets['category'] = ""
all_tweets['user_from']= ""
all_tweets.reset_index(drop=True, inplace=True)
all_tweets.drop(['data_point','raw_source','tweet_id'],axis=1, inplace=True)

In [5]:

prayer_dict = {'pray':'صلى','prayer':'صلاة','praying':'صلاة','muslim':'مسلم','Islam':'الإسلام',
               'mosque':'جامع','mosques':'جوامع','masjid':'مساجد','masjids':'مسجد',
               'call to prayer':'اذان','muezzin':'مؤذن','holy':'مقدس',
              'imam':'أئمة','imams':'امام','koran':'القرآن','chapter':'سور','verse':'آيات'}
food_dict = {'food':'طعام','eating':'يتناول الطعام','falafel':'فلافل','shawarma':'الشاورما',
            'starbucks':'ستاربكس','mcdonalds':'ماكدونالدز'}
fun_dict = {'restaurant':'مطاعم','restaurants':'مطعم','park':'حدائق','theater':'سينمات','museum':'متاحف',
           'bakery':'مخابز','gallery':'معرض','fair':'مهرجانات','zoo':'حديقة الحيوان','hotel':'فنادق',
           'starbucks':'ستاربكس','mcdonalds':'ماكدونالدز'}
parking_dict = {'stop':'يوقف','park':'وقف','parking lot':'موقف','parking':'مواقف','standing':'المواقف',
               'street parking':'يركن','garage':'يجرّش'}
traffic_dict = {'traffic':'مرور','underground':'سرا','crowd':'زحمة','crowds':'زحام','jammed':'اختناق',
                'erupted':'نشبت','reroute':'تحويلة','bump':'مطب','pothole':'مطبات'}
accident_dict = {'accident':'حادث','accidents':'حوادث','crashes':'حادثة','collision':'صدم','hit by':'صدمني',
                 'detour':'انعفطت',
                'wreck':'خربت','wreckage':'حطام'}
transit_dict = {'bus':'باص','taxi':'تاكسي','taxis':'تاكسيات','cab':'تكسي','limo':'ليموزين','fare':'أجرة',
                'cab fee':'اجرة','Careem':'كريم','Uber':'اوبر','driver':'سواق','chauffeur':'سائق','airport':'مطارات',
                'public transit':'مواصلات'}

In [6]:
# Search for Arabic terms using unicode
# It works on English too

def count_search_terms(arabic_word):
    j=0
    search_term = unicode(arabic_word, encoding="utf-8")
    for row in all_tweets.itertuples():
        if search_term.lower() in row[1].lower():
            j+=1
    return j

In [7]:
# Now count multiple terms at once
# The function counts both Arabic and English versions

def count_category(search_dict):
    i=0
    for key in search_dict:
        count = count_search_terms(search_dict[key])
        count = count + count_search_terms(key)
        i+=count
        print key + ": " + str(count)
    print "category total: " + str(i)

In [26]:
count_category(traffic_dict)

bump: 58
traffic: 155
erupted: 3
crowd: 136
reroute: 1
underground: 344
jammed: 3
crowds: 23
pothole: 0
category total: 723

In [27]:
count_category(parking_dict)

standing: 56
stop: 76
street parking: 3
park: 581
parking lot: 112
garage: 0
parking: 99
category total: 927

In [28]:
count_category(accident_dict)

collision: 69
accident: 63
crashes: 17
wreck: 11
hit by: 4
accidents: 33
detour: 1
wreckage: 3
category total: 201

In [29]:
count_category(transit_dict)

taxi: 8
fare: 59
public transit: 5
bus: 600
driver: 434
limo: 27
Careem: 670
Uber: 26
cab fee: 2
airport: 26
chauffeur: 25
cab: 68
taxis: 0
category total: 1950

In [30]:
count_category(prayer_dict)

imam: 51
chapter: 509
masjids: 98
holy: 18
pray: 378
mosques: 6
muslim: 866
mosque: 1679
koran: 242
verse: 71
masjid: 55
prayer: 519
muezzin: 14
imams: 197
praying: 501
call to prayer: 22
Islam: 262
category total: 5488

In [31]:
count_category(fun_dict)

fair: 498
hotel: 860
park: 182
starbucks: 4636
mcdonalds: 262
gallery: 509
theater: 4
restaurant: 686
museum: 34
zoo: 94
bakery: 80
restaurants: 445
category total: 8290

In [8]:
# function decides if category is present

def has_category(tweet_content, search_dict):
    answer = False
#     tweet_content = unicode(tweet_content, encoding="utf-8")
    for english_word in search_dict.keys():
        if english_word.lower() in tweet_content.lower():
            answer = True
    for arabic_word in search_dict.values():
        arabic_word = unicode(arabic_word, encoding="utf-8")
        if arabic_word in tweet_content:
            answer = True
    return answer

In [11]:
# function checks every row and adds categories
def fill_in_categories():
    for tweet in all_tweets.itertuples():
        idx = tweet[0]
        content = all_tweets.loc[idx,'content']
        if has_category(content, traffic_dict):
            all_tweets.loc[idx, 'category'] = 'traffic'
        elif has_category(content, transit_dict):
            all_tweets.loc[idx, 'category'] = 'transit'
        elif has_category(content, accident_dict):
            all_tweets.loc[idx, 'category'] = 'accident'
        elif has_category(content, parking_dict):
            all_tweets.loc[idx, 'category'] = 'parking'
        elif has_category(content, prayer_dict):
            all_tweets.loc[idx, 'category'] = 'prayer'
        elif has_category(content, fun_dict):
            all_tweets.loc[idx, 'category'] = 'fun'
        else:
            all_tweets.loc[idx, 'category'] = 'none'

In [12]:
fill_in_categories()

In [13]:
all_tweets.head()

,content,lat,lon,time,user,user_location,category,user_from
0,ﺃَﺳْﺘَﻐْﻔِﺮُ اﻟﻠَّﻪَ ﻭَﺃَﺗُﻮﺏُ ﺇِﻟَﻴْﻪِ .,46.758696,24.695512,Thu Oct 08 03:09:57 +0000 2015,1624568515,استغفر الله واتوب إليه,none,
1,ﺳُﺒْﺤـﺎﻥَ اﻟﻠﻪِ ﻭَﺑِﺤَﻤْـﺪِﻩِ ﻋَﺪَﺩَ ﺧَﻠْـﻘِﻪ ...,46.758696,24.695512,Thu Oct 08 03:10:32 +0000 2015,1624568515,استغفر الله واتوب إليه,none,
2,At تاج الفول 😌❤️✋ — https://t.co/hH3VDqzZnL,46.667250,24.587060,Tue Oct 13 07:19:50 +0000 2015,358790728,Riyadh,none,
3,#اول_تغريده_لك_عام_1437\n\nيارب عام جديد بلا ف...,46.697182,24.753662,Tue Oct 13 08:40:09 +0000 2015,589186929,Saudi Arabia.Riyadh,none,
4,"I'm at @Starbucks | ستاربكس in Riyadh, Riyadh ...",46.677856,24.714910,Tue Oct 13 17:08:31 +0000 2015,2580523225,Riyadh,fun,

In [14]:
all_tweets_categorized = all_tweets[all_tweets['category']!= 'none']

In [15]:
def time_converter(input_string):
    orig_date = input_string[:-10] + input_string[-4:]
    convert = time.strptime(orig_date, '%a %b %d %H:%M:%S %Y')
    new_date = time.strftime("%A %I %p",convert)
    return new_date

In [10]:
print time_converter('Tue Oct 13 17:08:31 +0000 2015')

Tuesday 05 PM

In [48]:
print time_converter(all_tweets_categorized.loc[16,'time'])

Thursday 03AM

In [17]:
for row in all_tweets_categorized.itertuples():
    idx = int(row[0])
    new_time = time_converter(all_tweets_categorized.loc[idx,'time'])
    all_tweets_categorized.loc[idx,'timestamp'] = new_time

C:\Users\Scott\Anaconda2\lib\site-packages\pandas\core\indexing.py:266: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[key] = _infer_fill_value(value)
C:\Users\Scott\Anaconda2\lib\site-packages\pandas\core\indexing.py:426: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

In [16]:
print len(all_tweets_categorized)

13280

In [18]:
all_tweets_categorized.head()

,content,lat,lon,time,user,user_location,category,user_from,timestamp
4,"I'm at @Starbucks | ستاربكس in Riyadh, Riyadh ...",46.677856,24.714910,Tue Oct 13 17:08:31 +0000 2015,2580523225,Riyadh,fun,,Tuesday 05 PM
7,I'm at Starbucks | ستاربكس in Riyadh w/ @93m7m...,46.676350,24.676143,Thu Dec 03 06:51:58 +0000 2015,458461852,الرياض,fun,,Thursday 06 AM
16,@dr_fahad_harthi @ksa12300 \nهم يعرفون أن(داعش...,46.801655,24.724120,Thu Oct 08 03:26:06 +0000 2015,622140270,المملكة العربية السعودية,prayer,,Thursday 03 AM
42,I'm at King Saud University | جامعة الملك سعود...,46.632696,24.728943,Thu Dec 03 07:19:22 +0000 2015,481414929,,prayer,,Thursday 07 AM
46,متحمسة على نومة العصر من الحين😍 (at Al-Tarbia...,46.662150,24.709980,Thu Dec 03 07:21:36 +0000 2015,1337283242,Riyadh,prayer,,Thursday 07 AM

In [19]:
all_tweets_categorized.reset_index(inplace=True, drop=True)

In [20]:
all_tweets_categorized.to_csv('all_tweets_categorized.csv', index=False, encoding='utf-8')

In [21]:
# define location based on our criteria
# don't forget to implement .lower on the search so it ignores case
# and prioritize more local matches over more general ones

riyadh_list = ['riyadh','rhiyad','الرياض','riyad','حي','riyad','البيت']
ksa_list = ['kingdom of saudi arabia','ksa','k.s.a.','saudi','saudi arabia','jeddah','mecca','dammam','medina','hofuf',
           'السعودية','السعودية جزيره العرب','المملكة العربية السعودية','السعودية','makkah','madinah','tabuk']
mideast_list = ['bahrain','manama','iran','tehran','طهران','iraq','baghdad','بغداد','syria','damascus','jordan','amman',
                'lebanon','beirut','kuwait','turkmenistan','ashgabat','tajikistan','dushanbe','kazakh','astana',
               'oman','muscat','qatar','doha','united arab emirates','uae','kyrgyzstan','bishkek',
               'afghanistan','kabul','armenia','yerevan','azerbaijan','baku','turkey','ankara','israel','jerusalem',
               'istanbul','tel aviv','aleppo','mashhad','izmir','isfahan','dubai','بلاد العرب',
                'abu dhabi','الحمدلله']
worker_list = ['philippines','pilipinas','manila','caloocan','quezon','cebu','davao',
               'pakistan','karachi','lahore','faisalabad','multan','hyderabad','rawalpindi','punjab','pradesh',
               'orissa','bengal','rajasthan','bihar','bangladesh','dhaka','chittagong','khulna','rajshahi',
              'india','chennai','madras','mumbai','delhi','bangalore','kolkata','ahmedabad','surat','jaipur','pune',
              'assam','bombay','indonesia','aceh','jakarta','surabaya','bandung','bekasi','medan','sri',
              'egypt','cairo','القاهرة','alexandria','yemen','sanaa','sudan','pangasinan','malay','panang','kuala']
              
foreign_list = ['city','state','province','territory','village','town','ville','barcelona','california','brazil',
             'finland','madrid','united states','america','bronx','nyc','new york','manhattan','chicago','tampa',
             'seattle','manchester','paraguay','turin','rome','london','tokyo','japan','china','hong kong','beijing',
               'helsinki','rio','los angeles','tx','houston','santiago','canada','vancouver','toronto','san francisco',
               'boston','australia','melbourne','sydney','france','paris','england','harvard']

In [22]:
def count_location(word):
    j=0
    search_term = unicode(word, encoding="utf-8")
    for row in all_tweets.itertuples():
        if search_term in row[6]:
            j+=1
    return j

In [53]:
print all_tweets['user_location'].value_counts()

                                    51544
Riyadh                               8835
Riyadh, Kingdom of Saudi Arabia      3570
الرياض                               3318
السعودية - الرياض - حي الشفا         3216
Riyadh, Saudi Arabia                 2854
العربية السعودية /Saudi Arabia       2733
Saudi Arabia                         1692
Riyadh                               1548
Riyadh, Saudi Arabis                 1548
الرياض                               1141
Riyadh Saudi Arabia                  1110
#Madrid                              1060
المملكة العربية السعودية              931
Kingdom of Saudi Arabia               902
Riyadh.                               794
gg                                    736
الرياض, المملكة العربية السعودية      666
Saudi Arabia, Riyadh                  636
@AlNassrFC                            551
 1994 . الحمدلله                      532
Saudi Arabia - Riyadh                 444
Saudi Arabia, Riyadh                  367
Riyadh - Saudi Arabia                 325
Riyadh, KSA                           318
Saudi Arabia                          294
Riyadh, K.S.A.                        271
الرياض، بلاد الحرمين                  261
Saudi Arabia -Riyadh                  253
riyadh                                244
                                    ...
xd                                      1
As Sarrar - Riyadh - Milano             1
الولايات المتحدة الامريكية              1
instagram: iN0rh                        1
Tampa, FL, US                           1
not a prisoner nor a freedman           1
Aden, Yemen                             1
with my cute Brazilian friend           1
P.I. BABY!                              1
saudi arabia،Riyadh                     1
LongBeach, CA / Sharjah, UAE            1
 Dammam , Dubai                         1
Between Jeddah,Dubai,Amman              1
24.672642,46.704202                     1
instgram&kik: majid_habab               1
حفر الباطن (القيصومة)                   1
استغفر الله استغفر الله                 1
Dhaka                                   1
KSA.                                    1
Venezuela                               1
الدمام, الشرقي                          1
قلت لأحلامي تعالي .. فتعالت             1
Ahsa, Eastern - Riyadh.                 1
kingdom of Saudi Arabia                 1
الرياض الخاص للضروره                    1
Bronx, NY                               1
 KSA طبعاً في السعودية Riyadh           1
earth                                   1
from Davao Phils.                       1
East Bay, CA                            1
Name: user_location, dtype: int64

In [23]:
def has_location(user_loc, search_list):
    answer = False
#     user_loc = unicode(user_loc, encoding="utf-8")
    for entry in search_list:
        entry = unicode(entry, encoding='utf-8')
        if entry.lower() in user_loc.lower():
            answer = True
    return answer

In [112]:
j=0
for tweet in all_tweets.itertuples():
    if has_location(tweet[6], worker_list):
        j+=1
print j

1380

In [24]:
def fill_in_locations():
    for tweet in all_tweets.itertuples():
        idx = tweet[0]
        user_loc = all_tweets.loc[idx,'user_location']
        if user_loc == '':
            all_tweets.loc[idx, 'user_from'] = 'None'
        elif has_location(user_loc, foreign_list):
            all_tweets.loc[idx, 'user_from'] = 'World'
        elif has_location(user_loc, riyadh_list):
            all_tweets.loc[idx, 'user_from'] = 'Riyadh'
        elif has_location(user_loc, ksa_list):
            all_tweets.loc[idx, 'user_from'] = 'Saudi Arabia' 
        elif has_location(user_loc, mideast_list):
            all_tweets.loc[idx, 'user_from'] = 'Middle East'
        elif has_location(user_loc, worker_list):
            all_tweets.loc[idx, 'user_from'] = 'Labor'
        else:
            all_tweets.loc[idx, 'user_from'] = 'Unmatched'

In [25]:
fill_in_locations()

In [26]:
all_tweets_located = all_tweets[all_tweets['user_from']!= 'None']

In [27]:
all_tweets_located.reset_index(inplace=True, drop=True)

In [28]:
all_tweets_located['timestamp'] = ''

C:\Users\Scott\Anaconda2\lib\site-packages\ipykernel\__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [30]:
print len(all_tweets_located)

73846

In [31]:
for row in all_tweets_located.itertuples():
    idx = int(row[0])
    new_time = time_converter(all_tweets_located.loc[idx,'time'])
    all_tweets_located.loc[idx,'timestamp'] = new_time
    if idx%1000 == 0:
        print idx

0
1000
2000
3000
4000
5000
6000
7000
8000
9000
10000
11000
12000
13000
14000
15000
16000
17000
18000
19000
20000
21000
22000
23000
24000
25000
26000
27000
28000
29000
30000
31000
32000
33000
34000
35000
36000
37000
38000
39000
40000
41000
42000
43000
44000
45000
46000
47000
48000
49000
50000
51000
52000
53000
54000
55000
56000
57000
58000
59000
60000
61000
62000
63000
64000
65000
66000
67000
68000
69000
70000
71000
72000
73000

In [ ]:
# export as is
# collapse by unique combinations of timestamp and user_from
# sort by 'time'

In [32]:
all_tweets_located.head(10)

,content,lat,lon,time,user,user_location,category,user_from,timestamp
0,ﺃَﺳْﺘَﻐْﻔِﺮُ اﻟﻠَّﻪَ ﻭَﺃَﺗُﻮﺏُ ﺇِﻟَﻴْﻪِ .,46.758696,24.695512,Thu Oct 08 03:09:57 +0000 2015,1624568515,استغفر الله واتوب إليه,none,Unmatched,Thursday 03 AM
1,ﺳُﺒْﺤـﺎﻥَ اﻟﻠﻪِ ﻭَﺑِﺤَﻤْـﺪِﻩِ ﻋَﺪَﺩَ ﺧَﻠْـﻘِﻪ ...,46.758696,24.695512,Thu Oct 08 03:10:32 +0000 2015,1624568515,استغفر الله واتوب إليه,none,Unmatched,Thursday 03 AM
2,At تاج الفول 😌❤️✋ — https://t.co/hH3VDqzZnL,46.667250,24.587060,Tue Oct 13 07:19:50 +0000 2015,358790728,Riyadh,none,Riyadh,Tuesday 07 AM
3,#اول_تغريده_لك_عام_1437\n\nيارب عام جديد بلا ف...,46.697182,24.753662,Tue Oct 13 08:40:09 +0000 2015,589186929,Saudi Arabia.Riyadh,none,Riyadh,Tuesday 08 AM
4,"I'm at @Starbucks | ستاربكس in Riyadh, Riyadh ...",46.677856,24.714910,Tue Oct 13 17:08:31 +0000 2015,2580523225,Riyadh,fun,Riyadh,Tuesday 05 PM
5,I'm at Starbucks | ستاربكس in Riyadh w/ @93m7m...,46.676350,24.676143,Thu Dec 03 06:51:58 +0000 2015,458461852,الرياض,fun,Riyadh,Thursday 06 AM
6,Such few words on a cup of coffee on the morni...,46.676252,24.664003,Thu Dec 03 06:53:19 +0000 2015,159116932,,none,Unmatched,Thursday 06 AM
7,I'm at Dar Al-Shifa Hospital https://t.co/Vedq...,46.703087,24.638563,Thu Dec 03 06:54:22 +0000 2015,770696682,Kingdom of Saudi Arabia,none,Saudi Arabia,Thursday 06 AM
8,"'بصير﴾', '﴿ولو' و 'لبغوا' الآن نشط في Saudi Ar...",46.722400,24.688000,Thu Dec 03 06:54:34 +0000 2015,193981558,العربية السعودية /Saudi Arabia,none,Saudi Arabia,Thursday 06 AM
9,I'm at Herfy | هرفي - @herfyfsc in Riyadh http...,46.703370,24.637801,Thu Dec 03 06:54:45 +0000 2015,770696682,Kingdom of Saudi Arabia,none,Saudi Arabia,Thursday 06 AM

In [33]:
all_tweets_located.to_csv('all_tweets_located.csv', index=False, encoding='utf-8')

In [34]:
all_tweets_located['user_from'].value_counts()

Riyadh          46030
Unmatched       13074
Saudi Arabia     9410
World            3150
Middle East      1244
Labor             938
Name: user_from, dtype: int64

In [35]:
located_tweets_counter = all_tweets_located.drop(['content','lat','lon','time','user_location','user','category'],axis=1)
located_tweets_counter['counter'] = 1
collapse_by_time = located_tweets_counter.groupby(['user_from','timestamp']).sum()

In [37]:
collapse_by_time.reset_index(inplace=True)

In [38]:
collapse_by_time.head(10)

  user_from     timestamp  counter
0     Labor  Friday 01 AM        1
1     Labor  Friday 01 PM        9
2     Labor  Friday 02 AM        3
3     Labor  Friday 02 PM        7
4     Labor  Friday 03 AM        2
5     Labor  Friday 03 PM        4
6     Labor  Friday 04 PM        7
7     Labor  Friday 05 AM        3
8     Labor  Friday 05 PM       13
9     Labor  Friday 06 AM        4

In [40]:
collapse_by_time['day']=''
collapse_by_time['hour']=''
collapse_by_time['meridian']=''
collapse_by_time['week_order'] = ''

In [41]:
for row in collapse_by_time.itertuples():
    idx = row[0]
    stamp = collapse_by_time.loc[idx,'timestamp']
    day = stamp[:-6]
    hour = stamp[-5:-3]
    meridian = stamp[-2:]
    collapse_by_time.loc[idx,'day'] = day
    collapse_by_time.loc[idx,'hour'] = hour
    collapse_by_time.loc[idx,'meridian'] = meridian
    if idx%100 == 0:
        print idx

0
100
200
300
400
500
600
700
800
900

In [42]:
for row in collapse_by_time.itertuples():
    idx = row[0]
    day = collapse_by_time.loc[idx,'day']
    if day == 'Sunday':
        collapse_by_time.loc[idx,'week_order'] = 1
    elif day == 'Monday':
        collapse_by_time.loc[idx,'week_order'] = 2
    elif day == 'Tuesday':
        collapse_by_time.loc[idx,'week_order'] = 3
    elif day == 'Wednesday':
        collapse_by_time.loc[idx,'week_order'] = 4
    elif day == 'Thursday':
        collapse_by_time.loc[idx,'week_order'] = 5
    elif day == 'Friday':
        collapse_by_time.loc[idx,'week_order'] = 6
    elif day == 'Saturday':
        collapse_by_time.loc[idx,'week_order'] = 7
    else:
        collapse_by_time.loc[idx,'week_order'] = 0

In [43]:
collapse_by_time_sorted = collapse_by_time.sort(columns=['week_order','meridian','hour'])
collapse_by_time_sorted.reset_index(inplace=True)

C:\Users\Scott\Anaconda2\lib\site-packages\ipykernel\__main__.py:1: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  if __name__ == '__main__':

In [44]:
collapse_by_time_sorted.to_csv('location_collapsed.csv', index=True, encoding='utf-8')